@model BetterAdventureWorksWeb.Model.Search.SearchViewModel

<p>Trouvé @Model.Count produits</p>

<div class="col-md-6">

    <ul>
        @foreach (BetterAdventureWorksWeb.Model.Search.Product product in Model.Products)
        {
            Html.RenderPartial("ProductItem", product);
        }
    </ul>


    @if (Model.NextLink != null)
    {
        <a href="@Model.NextLink">Voir plus</a>
    }
</div>