<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SourceSqlConnectionString" value="Server=(LocalDB)\v11.0;Integrated Security=true;AttachDbFileName=|DataDirectory|\AdventureWorksCatalog.mdf"/>
    <add key="SearchServiceName" value="SERVICENAME" />
    <add key="SearchServiceApiKey" value="SUBSCRIPTION ID" />
     <add key="ApiVersionString" value="api-version=2014-10-20-Preview" />   
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>