<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SourceSqlConnectionString" value="Server=(LocalDB)\v11.0;Integrated Security=true;AttachDbFileName=|DataDirectory|\AdventureWorksCatalog.mdf"/>
    <!--<add key="Azure.Search.ServiceName" value="SERVICENAME" />
    <add key="Azure.Search.ApiKey" value="SUBSCRIPTION ID" />-->
    
      <add key="Azure.Search.ServiceName" value="searchexpertime" />
    <add key="Azure.Search.ApiKey" value="C33CB5E81780F55A53F8AE819F5D7331" />
     <add key="Azure.Search.ApiVersionString" value="api-version=2014-10-20-Preview" />   
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>